
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student DashBoard</title>
</head>
<style>
    .my-layout{
    display:grid;
    grid-template-columns:0.7fr 0.3fr;
    }

</style>
<body>
{% block content%}

   {% include 'StudentIndexBar.html' %}
<div class="my-layout">
    <div>
       {% include main_template %}
    </div>
     <div>
        {% include 'StudentPersonalInfoPage.html' %}

    </div>
</div>



{% endblock %}
</body>
</html>